* {
  margin: 0px;
  padding: 0px;
  font-family: "Bebas Neue", cursive;
}
body {
  background: url(img/WallpaperDog-10794384.png);

  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  height: 70px;
  cursor: pointer;
  padding: 0px;
  padding-left: 50px;
  margin: 0px;
  /* border: 3px white solid; */
}

a {
  color: rgb(209, 215, 215);
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #1a0714;
  border-bottom: 1px red solid;
  box-shadow: 0px 0px 15px -4px red;
}
/* HERE ARE NAVBAR ----------------------------------------------------------------------------------------- */
.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav_links li {
  position: relative;

  list-style: none;
  display: flex;

  flex-direction: column;
  padding: 10px 30px;
  padding-top: 10px;
  justify-content: center;
}
.nav_links li:hover {
  background-color: black;
  border-radius: 10%;
  color: red;
}
.nav_links li:hover > a {
  color: red;
}
.search {
  margin: 20px 10px;
}
.nav_links2 img {
  width: 2rem;
}
.nav_links2 {
  display: none;
}

.nav_links li:hover .nav_links2 {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
  top: 101%;
}
.nav_links li:hover .nav_links2 ul {
  display: flex;
  flex-direction: row;
  background-color: #1a0714;
}
.nav_links li a {
  text-align: center;
}
/* NAVBAR ON TOP ----------------------------------------------------------------------------------------------*/
.bestSells {
  margin: auto;
  text-align: center;
  background-color: #1a0714;

  margin-bottom: 2rem;
  border: 1px rgba(242, 241, 241, 0.079) solid;
}
.bestSells p {
  width: 70%;
  margin: auto;
}
.bestSells h1 {
  margin: auto;
  color: white;
  text-align: center;
  font-size: 50px;

  /* box-shadow: 0px 0px 15px -4px red; */
  width: 300px;
}
.quote {
  background-color: rgba(168, 219, 219, 0.511);
  text-align: center;
  color: #99f00e;
}
/* .container {
  padding: 2rem;
}
.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  animation: 20s slider infinite;
  border-top: 2px red solid;
  border-bottom: 2px red solid;
  box-shadow: 0px 0px 15px -4px red;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 00.5rem;
  height: 00.5rem;
  border-radius: 50%;
  background-color: aliceblue;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
} */
.container {
  padding-top: 5px;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* border: 2px white solid; */
  max-width: 80rem;
  height: 25rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.container div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px -2px red;
  border-bottom: 2px red solid;
  background-color: #1a0714;
}
.container div img {
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.container,
.sales div h4,
p {
  color: rgb(209, 215, 215);
  /* background-color: #1a0714; */
}
.container div a {
  color: rgb(31, 249, 31);
}
.sales div a {
  color: rgb(31, 249, 31);
}
.sales {
  padding-top: 5px;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* border: 2px white solid; */
  max-width: 80rem;
  height: 50rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sales div {
  width: 30%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px -2px red;
  border-bottom: 2px red solid;
  background-color: #1a0714;
}
.sales div img {
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
footer {
  height: 20rem;
  background-color: #1a0714;
}
.footer {
  margin: auto;
  display: flex;
  width: 60rem;

  justify-content: space-between;
}
.footer div {
  border: 2px wheat solid;
  color: aliceblue;
}
span {
  text-decoration: underline;
}
